<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parallel test suite" parallel="classes" thread-count="5">

<test name="Ffox">
    <parameter name="myBrowser" value="chrome" />
    <classes>
        <class name="com.fc572.TestParallel" />
        <class name="com.fc572.TestParallel" />
    </classes>
</test>

<test name="chrome">
    <parameter name="myBrowser" value="firefox" />
    <classes>
        <class name="com.fc572.TestParallel" />
        <class name="com.fc572.TestParallel" />
    </classes>
</test>
</suite>